.top-red {
    border-top-color: red;
}

.bottom-red {
    border-bottom-color: red;
}

.right-red {
    border-right-color: red;
}

.left-red {
    border-left-color: red;
}


.top-blue {
    border-top-color: blue;
}

.bottom-blue {
    border-bottom-color: blue;
}

.right-blue {
    border-right-color: blue;
}

.left-blue {
    border-left-color: blue;
}


.top-hotpink {
    border-top-color: hotpink;
}

.bottom-hotpink {
    border-bottom-color: hotpink;
}

.right-hotpink {
    border-right-color: hotpink;
}

.left-hotpink {
    border-left-color: hotpink;
}


.top-orange {
    border-top-color: orange;
}

.bottom-orange {
    border-bottom-color: orange;
}

.right-orange {
    border-right-color: orange;
}

.left-orange {
    border-left-color: orange;
}


.top-green {
    border-top-color: green;
}

.bottom-green {
    border-bottom-color: green;
}

.right-green {
    border-right-color: green;
}

.left-green {
    border-left-color: green;
}