:root {
    --one : #01befe;
    --two : #ffe32c;
    --three : #ff7d00;
    --four : #ff006d;
    --five : #88ff27;
    --six : #8f00ff;
}


.top-one {
    border-top-color:var(--one);
}

.bottom-one {
    border-bottom-color:var(--one);
}

.right-one {
    border-right-color:var(--one);
}

.left-one {
    border-left-color:var(--one);
}


.top-two {
    border-top-color:var(--two);
}

.bottom-two {
    border-bottom-color:var(--two);
}

.right-two {
    border-right-color:var(--two);
}

.left-two {
    border-left-color:var(--two);
}


.top-three {
    border-top-color:var(--three);
}

.bottom-three {
    border-bottom-color:var(--three);
}

.right-three {
    border-right-color:var(--three);
}

.left-three {
    border-left-color:var(--three);
}


.top-four {
    border-top-color:var(--four);
}

.bottom-four {
    border-bottom-color:var(--four);
}

.right-four {
    border-right-color:var(--four);
}

.left-four {
    border-left-color:var(--four);
}


.top-five {
    border-top-color:var(--five);
}

.bottom-five {
    border-bottom-color:var(--five);
}

.right-five {
    border-right-color:var(--five);
}

.left-five {
    border-left-color:var(--five);
}


.top-six {
    border-top-color:var(--six);
}

.bottom-six {
    border-bottom-color:var(--six);
}

.right-six {
    border-right-color:var(--six);
}

.left-six {
    border-left-color:var(--six);
}